aiofiles==23.2.1
aiokafka==0.10.0
aioredis==2.0.1
aiosmtplib==2.0.2
azure-storage-blob==12.18.3
boto3==1.28.63
fastapi[all]==0.95.2
firebase-admin==6.2.0
httpx==0.25.0
kafka-python==2.0.2
loguru==0.7.2
marshmallow==3.21.1
motor==3.6.0
opencv-python-headless==4.8.0.76
orjson==3.9.9
pandas==2.1.1
pip-licenses==4.3.3
pybars3==0.9.7
pytest==8.3.4
pytest-asyncio==0.24.0
pytest-html==4.1.1
pytest-mock==3.14.0
python-jose[cryptography]==3.3.0
python-multipart==0.0.6
sendgrid==6.10.0
twilio==8.9.1
user-agents==2.2.0
uvicorn==0.23.2
